:root{
    /*Fonts*/

    /*Colors*/
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navy-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:##E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2e2f42;
    --grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    background: var(--white);
    color:var(--slate);
}
/*
===============================
Base syles 
===============================
 */
 .main li,.header li{
    list-style: none;
 }
 .list {
    list-style: none;
 }
 .logo-span{
    color: #f4f4fd;
 }
.link {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;

color: #4D5AE5;

}
.btn{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.section {
}
.main {
}
.h1{
font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 60px;
letter-spacing: 0.02em;  
}
.h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

}
/*
===============================
Header section
===============================
 */
.header{
}
.header-nav {
}
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
}
.header-nav-list {
}
.header-nav-item {
}
.header-link {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--grey);
}

.header-addres {
}
.header-address-list {
}
.header-address-item a {
 font-style: normal;
        line-height: 1.5;
    letter-spacing: 0.02em ;
color:var(--slate);
font-size: 16px;
}

.header-address-item a:hover,:focus{
    color: #404bbf;
}
/*
===============================
Footer
===============================
 */
 .footer {
background-color:var(--grey);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
}
.footer-text {
    color:var(--cloud);
}

/*Studio*/
.main-studio{

}

/*
===============================
Hero section
===============================
 */
.hero-section {
}
.hero-title {
    color: var(--white);
}
.hero-btn-order {
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
    background: var(--iris);
    color:var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/*
===============================
Features section
===============================
 */
.features-section {
}
.features-title {
}
.features-list {
}
.features-list-item {
}
.features-subtitle {
    color:var(--navy-blue);
}
.features-text {
    color:var(--slate);
}
.visually-hidden{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    border:0;
    padding:0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow:hidden;
}
/*
===============================
We do section 
===============================
 */
.we-do-section {
}
.we-do-title {
    color:var(--navy-blue);
}
.we-do-list {
}
.we-do-list-item {
}
/*
===============================
Our team section
===============================
 */
.our-team-section {
}
.our-team-title {
    color:var(--navy-blue);
}
.our-team-list {
}
.our-team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.our-team-subtitle {
    color:var(--navy-blue);
}
.our-team-text {
    color:var(--slate);
}

/*Portfolio*/

.main-portfolio {
}

/*
===============================
Filter section
===============================
 */
.filter-h1{
  
}
.filter-section {

}
.section {
}
.filter-list {
}
.filter-list-item {
}
.filter-btn {
    flex-direction: row;
    color: var(--iris);
    background: var(--cloud);
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: #404BBF;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #FFFFFF ;
}
/*
===============================
Project card section
===============================
 */

.project-card-section {
}
.project-card-list {
}
.project-card-list-item {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 420px;
left: 924px;
top: 288px;
    border: 1px solid #E7E9FC;
}
.project-card-subtitle{
    color:var(--navy-blue);
}
.project-card-text{
color:var(--slate);
}
.project-card-link{

}