:root {
  /*Fonts*/

  /*Colors*/
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: ##e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: var(--white);
  color: var(--slate);
}
/*
===============================
Base syles 
===============================
 */
.main li,
.header li {
  list-style: none;
}
.list {
  list-style: none;
}
.logo-span {
  color: #f4f4fd;
}
.link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: #4d5ae5;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.section {
}
.main {
}
.h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/*
===============================
Header section
===============================
 */
.header {
}
.header-nav {
}
.header-logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-nav-list {
}
.header-nav-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.header-link:hover,
.header-link:focus{
    color: #404bbf;
}
.lists{
    font-style: normal
}
.header-addres {
}
.header-address-list {
}
.header-address-item a {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-size: 16px;
}

.header-address-item a:hover,
:focus {
  color: #404bbf;
}
/*
===============================
Footer
===============================
 */
.footer {
  background-color: var(--grey);
}
.footer-logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-text {
  color: var(--cloud);
}

/*Studio*/
.main-studio {
}

/*
===============================
Hero section
===============================
 */
.hero-section {
  background-color: var(--grey);
}
.hero-title {
  color: var(--white);
  text-align: center;
  line-height: 1.07;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;

}
.hero-btn-order {
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn-order:hover,
.hero-btn-order:focus{
  background: var(--ocean);
}
/*
===============================
Features section
===============================
 */
.features-section {
}
.features-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.features-list {
}
.features-list-item {
}
.features-subtitle {
  color: var(--navy-blue);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.features-text {
  color: var(--slate);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
===============================
We do section 
===============================
 */
.we-do-section {
}
.we-do-title {
  color: var(--navy-blue);
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
}
.we-do-list {
}
.we-do-list-item {
}
/*
===============================
Our team section
===============================
 */
.our-team-section {
  background-color: var(--cloud);
}
.our-team-title {
  color: var(--navy-blue);
  line-height: 1.11;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team-list {
}
.our-team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.our-team-subtitle {
  color: var(--navy-blue);
  font-weight:500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-team-text {
  color: var(--slate);
}

/*Portfolio*/

.main-portfolio {
}

/*
===============================
Filter section
===============================
 */
.filter-h1 {
}
.filter-section {
}
.section {
}
.filter-list {
}
.filter-list-item {
}
.filter-btn {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  flex-direction: row;
  color: var(--iris);
  background: var(--cloud);
  
  
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
/*
===============================
Project card section
===============================
 */

.project-card-section {
}
.project-card-list {
}
.project-card-list-item {
  box-sizing: border-box;
  /* position: absolute; */
  left: 924px;
  top: 288px;
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
 
}
.project-card-subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);

}
.project-card-subtitles {
 
}
.project-card-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.project-card-textx {
  
}
.project-card-link {
}
.spans{
    color: var(--navy-blue);
}